@use 'base/variables' as v;

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

@mixin grid($cols: 1, $gap: 5rem) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: $gap;
}

@mixin gridResponsive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
}

@mixin contenedor {
    width: min(95%, 120rem);
    margin-inline: auto;
}

@mixin resetearLista {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin boton($bgColor, $display: inline-block) {
    background-color: $bgColor;
    color: v.$blanco;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem 3rem;
    outline: none;
    text-align: center;
    display: $display;
    transition: background-color .3s ease;
    border: none;
    margin-top: 2rem;

    &:hover {
        background-color: lighten($bgColor, 5);
        cursor: pointer;
    }
}

@mixin textoSubrayado($txt-color, $line-color) {
    color: $txt-color;
    display: inline-block;
    margin-top: 5rem;

    &::after {
        content: '';
        display: block;
        width: 100%;
        background-color: $line-color;
        height: .7rem;
        margin-top: -2.2rem;
    }
}