@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion {
    margin-top: calc(v.$separacion / 2);
    margin-bottom: calc(v.$separacion / 2);
}

.text-dark {
    color: v.$negro;
}

.enlace {
    font-weight: v.$bold;
}


.text-white {
    color: v.$blanco;
}

.uppercase {
    text-transform: uppercase;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.w-sm-100 {
    width: 100%;

    @include m.tablet {
        width: auto;
    }
}

.centrar-texto {
    text-align: center;
}

.justificar-texto {
    text-align: justify;
}

.contenido-centrado {
    width: min(95%, 80rem);
    margin-inline: auto;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.fade-Out {
    opacity: 0;
    transition: opacity 6s ease-out;
}