@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Outfit:wght@100..900&display=swap');
/* Tipografías */
$fuente_principal: "Outfit", sans-serif;
$fuente_secundaria: "Courgette", cursive;

/* Colores */
$blanco: #FFFFFF;
$negro: #0D0D0D;
$rojo: #C21E24;
$gris: #E1E1E1;
$transparencia1: rgb(13 13 13 / .6);
$transparencia2: rgb(163 22 33 / .6);

// Colores Areas
$azul: #016FB9;
$amarillo: #E4FF1A;
$verde: #43B929;


/* Tamaño Dispositivos */
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1440px;

/* Ancho Tipografias */
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

$separacion: 5rem;