@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$negro;
    color: v.$blanco;
}

.header-home {
    background-color: transparent;
    padding: 0;

    position: relative;
    overflow: hidden;

    video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        display: block;
    }


    .overlay {
        position: absolute;
        inset: 0;
        background-color: v.$transparencia1;
        height: 100%;
    }

    .contenido-video {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }

    .contenido-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 8vh;

        h2 {
            color: v.$blanco;
            font-size: clamp(2.4rem, 4vw, 3.5rem);
            text-transform: capitalize;

            span {
                font-weight: v.$regular;
                display: block;
                font-size: clamp(1.8rem, 4vw, 2.6rem);
            }
        }

        .mas-informacion {
            width: 100%;
            display: flex;
            flex-direction: column;

            @include m.tablet {
                padding-top: 16rem;
            }

            @include m.tablet {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .boton-negro {
                @include m.tablet {
                    align-self: flex-start;
                    margin-top: 0;
                }
            }
        }
    }

    .frase {
        margin-top: 2rem;

        @include m.tablet {
            max-width: 50rem;
            margin: 0;
        }

        blockquote,
        p {
            margin: 0;
            color: v.$blanco;
            text-align: center;

            @include m.tablet {
                text-align: right;
            }
        }

        blockquote {
            font-family: v.$fuente_secundaria;
            font-size: clamp(1.4rem, 4vw, 2rem);
        }

        p {
            font-size: 2rem;
            font-weight: v.$delgada;
            font-style: italic;
        }
    }
}