@use 'base/variables' as v;
@use 'base/mixins' as m;

.proximos-lanzamientos {
    background-color: v.$negro;
    padding: 1rem 0;

    @include m.tablet {
        position: sticky;
        top: 9rem;
        z-index: 2;
    }

    p {
        color: v.$blanco;
        font-size: clamp(1.8rem, 4vw, 2rem);
        margin: 0;
        font-weight: v.$bold;
        font-style: italic;
    }

    span {
        font-weight: v.$delgada;
        font-style: normal;

    }

}