@use 'base/variables' as v;
@use 'base/mixins' as m;

.proyectos {
    h1 {
        margin-bottom: 2rem;
    }
}

.contenedor-proyectos {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    overflow: hidden;

    @include m.tablet {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
    }
}

.proyecto {
    position: relative;
    transition: transform .3s ease-in-out;
    overflow: hidden;

    .overlay {
        position: absolute;
        background-color: v.$transparencia1;
        inset: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include m.tablet {
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease, visibility .3s linear;
        }
    }

    &:hover .overlay {
        @include m.tablet {
            opacity: 1;
            visibility: visible;
        }
    }

    @include m.tablet {
        &:hover {
            transform: scale(1.1);
        }
    }

    img {
        height: 50vh;

        @include m.tablet {
            height: 70vh;
        }
    }
}

.proyecto-informacion {
    padding: 2rem;

    h3 {
        color: v.$blanco;
        font-size: clamp(2.5rem, 4vw, 3.5rem);
    }

    p {
        font-weight: v.$bold;
        color: v.$gris;
        font-size: clamp(2rem, 4vw, 2.8rem);
    }

}