@use 'base/variables' as v;
@use 'base/mixins' as m;

.sobre-nosotros {
    padding: v.$separacion 0;
    background-color: v.$negro;
    margin-bottom: 0;

    @include m.tablet {
        background-image: linear-gradient(75deg, v.$negro 50%, v.$blanco 50%);
    }


    &-contenido {
        @include m.tablet {
            @include m.grid(2);
        }
    }


    &-texto {

        h2,
        p {
            color: v.$blanco;
        }

        h2 {
            display: inline;
            text-align: left;

            &:after {
                content: "";
                display: block;
                height: .4rem;
                width: 12rem;
                background-color: v.$blanco;
            }
        }

        p {
            font-size: clamp(1.8rem, 4vw, 2rem);
        }

        span {
            font-weight: v.$bold;
            font-style: italic;
        }
    }

    &-btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include m.tablet {
            margin-left: 10rem;
        }

        .boton-negro-block {
            width: 100%;
            background-color: v.$blanco;
            color: v.$negro;

            @include m.tablet {
                background-color: v.$negro;
                color: v.$blanco;
                transition: background-color .3s ease;

                &:hover {
                    background-color: lighten(v.$negro, 5);
                }
            }
        }

    }
}