@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta {
    position: relative;
    z-index: 100;
    padding: .5rem;
    text-align: center;
    color: v.$blanco;
    font-weight: v.$bold;
    text-transform: uppercase;
    margin: 1rem 0;


    &.error {
        background-color: v.$rojo;
    }

    &.exito {
        background-color: #7DDF64;
    }
}

.formulario {

    &-imagenes {
        margin-top: 2rem;

        fieldset {
            border: 1px solid v.$negro;
            margin-bottom: 2rem;
        }

        legend {
            width: 100%;
            display: block;
            text-align: center;
            background-color: v.$negro;
            color: v.$blanco;
            font-size: 2rem;
            padding: 1rem 0;
            text-transform: uppercase;
            font-weight: v.$bold;
        }
    }
}

.contenedor-tabla {
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 4rem;
        border-spacing: 0;
    }

    th,
    td {
        text-align: center;
    }

    td {
        padding: 1rem;
    }

    .boton-negro-block,
    .boton-rojo-block {
        margin: 0;
        margin-bottom: .5rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    tbody tr:nth-child(odd) {
        background-color: lighten(v.$gris, 5);
    }

}

table.proyectos,
table.equipo,
table.comentarios {

    thead {
        background-color: v.$negro;

        th {
            color: v.$blanco;
            padding: 1rem;
            text-transform: uppercase;
        }
    }

    .imagen-tabla {
        width: 10vw;
    }
}

table.comentarios {
    tbody td:nth-child(2) {
        width: 65rem;
    }
}

.imagen-small {
    margin-top: 2rem;
    width: 100vw;

    @include m.tablet {
        width: 12vw;
        transition: width .3s ease-in-out;

        &:hover {
            cursor: zoom-in;
            width: 25vw;
        }
    }
}

.admin-form {

    .boton-eliminar {
        padding: 1rem 3rem;
        height: 6rem;
        width: 100%;
        margin-bottom: 1rem;
        background-image: linear-gradient(to right, v.$rojo, #FF8484, v.$rojo);
        background-size: 300% 100%;
        font-size: 2rem;
        letter-spacing: 1.5px;
        color: v.$blanco;
        text-transform: uppercase;
        border: none;
        border-radius: 4px;
        outline: none;
        display: inline-block;
        transition: all .4s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: inherit;
            background-position: 102% 0;
            transition: all .4s ease-in-out;
        }
    }
}

.boton-actualizar {
    background-image: linear-gradient(to left, v.$negro, #2F4858, v.$negro);
    background-size: 300% 100%;
    display: inline-block;
    padding: 1.5rem 3rem;
    width: 100%;
    color: v.$blanco;
    border: none;
    border-radius: 4px;
    font-size: 2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    outline: none;
    border: none;
    transition: all .4s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: inherit;
        background-position: 102% 0;
        transition: all .4s ease-in-out;
    }
}