@use 'base/variables' as v;
@use 'base/mixins' as m;

.inversionistas {

}

.porque {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
    align-items: center;
}