@use 'base/variables' as v;
@use 'base/mixins' as m;

.no-webp .opinion-titulo {
    background-image: url(../img/banner-opinion.jpg);
}

.webp .opinion-titulo {
    background-image: url(../img/banner-opinion.webp);
}

.opinion-titulo {
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    div {
        position: absolute;
        inset: 0;
        background-color: v.$transparencia1;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    h1 {
        color: v.$blanco;
    }
}

.opinion {
    @include m.tablet {
        @include m.grid(2)
    }

    form {

        fieldset {
            border: none;
        }

        legend {
            display: block;
            text-align: center;
            font-size: clamp(2rem, 4vw, 2.6rem);
            font-weight: v.$delgada;
            margin-bottom: 2rem;
        }
    }

    &-imagen {
        display: flex;
        align-items: center;
    }
}